body {
  margin: 0;
}

.layer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  margin-top: 20px;
}

.bigContainer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1200px;
  border-radius: 50px;
  width: 400px;
}

.tomContainer {
  width: fit-content;
}

.containerTwo {
  height: 150px;
  width: 330px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  background-image: url(sunnyday.jpeg);
}

.containerThree {
  height: 150px;
  width: 330px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  background-image: url(cloudyday.jpeg);
}

.sectionOne {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#location {
  font-size: 30px;
  color: white;
}

#san {
  font-size: 20px;
  color: white;
}

#cels {
  font-size: 40px;
  color: white;
}

#hzurgaa {
  color: white;
}

#weather {
  color: white;
  align-self: flex-start;
}

.gold {
  display: flex;
  background-color: gray;
  border-radius: 5px;
  align-items: center;
}

#search {
  text-decoration: none;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  align-self: flex-start;
  width: 325px;
}

.fa-solid {
  color: white;
}

#oo {
  display: flex;
  font-size: 2px;
}
